body {
  font-family: sans-serif;
  margin: 0;
  padding: 5% 10%;
}

* {
  font-weight: lighter;
  outline: none;
  box-sizing: border-box;
}

button {
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

input, textarea {
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px;
}

input, label, textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
}

h1 {
  color: dodgerblue;
  margin-top: 50px;
}

h3 {
  color: dodgerblue;
}

.error {
  color: #D72C2C;
  font-size: 3em;
  padding: 10px 20px;
  text-align: center;
}

.loader {
  position: relative;
  left: 50%;
  top: 100px;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid dodgerblue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
